{% extends "trail/layout.html" %}
{% load static %}

{% block body %}
<div class="d-flex align-items-center">
    <div class="form-login w-100 m-auto">
        <h5 class="h3 mb-3 fw-normal">Please login</h5>
        <form action="{% url 'login' %}" method="post" >
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-3" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input class="btn btn-primary w-100 py-2" type="submit" value="Login">

        </form>
    </div>
</div>
<script>
    document.querySelector('body').setAttribute('id', 'background-required')
</script>
{% endblock%}