{% extends "trail/layout.html" %}
{% load static %}

{% block pagetitle %}
<h5><b>Upload your trail here</b></h5>
{% endblock %}  

{% block body %}
    <body>
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="trail_file" class="form-label">Select your gpx file</label>
                <input type="file" accept=".gpx" id="trail_file" name="trail_file" class="form-control" required>
            </div>
            <input type="submit" value="Upload" class="btn btn-outline-primary"/>
        </form>
    </body>

{% endblock%}